.layout {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6,1fr);
}

.layout > header, .layout > footer {
    grid-column: span 6;   
}

.layout > main {
    grid-column: span 5;
    overflow: auto;
}

.layout, .layout > * {
    border: 1px solid black;
};